<!DOCTYPE html>
<html>
<body>

{% if error is not none %}

<p style="color:red;">ERROR: {{error}}</p>

{% endif %}

<img src="https://www.singlestore.com/images/components/navbar/logo_main.svg" alt="logo" class="logo-img">
<h1>
  SingleStore Calculator
</h1>

<form action="/addition"  method="get">
  <input type="number" id="v1" name="v1" value="{{v1}}" autofocus>
  +
  <input type="number" id="v2" name="v2" value="{{v2}}">
  <input type="submit" value="=">
  <input type="number" id="result" name="result" value="{{result}}" disabled>
</form>

<br>
<br>
<footer>
  <small>Built by {{build_user}} on {{build_time}}</small>
</footer>
